OPENAI_API_KEY=sk-svcacct-***

DIMENSION = 1024
CHUNK_SIZE = 1000
CHUNK_OVERLAP = 200
LLM_MODEL = "gpt-4o-mini"
EMBEDDING_MODEL = "text-embedding-3-large"

SUPABASE_URL=https://afwnndaxfsuuxayotvzn.supabase.co
SUPABASE_SECRET_KEY=sb_secret_**
