ipykernel
python-dotenv
logging
pymupdf

supabase

streamlit

psycopg2

fastapi

langgraph
langgraph-checkpoint-postgres

langchain
langchain-core

langchain-community
langchain-ollama
langchain-openai
langchain-pinecone
langchain-groq
langchain-postgres
